.container {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}

.container > * {
  width: 100%;
}

.form-search {
  padding: 16px 16px 0 16px;
  margin: 48px 0 0 24px;
}

.form-search > * {
  width: 100%;

}

