<!-- Search bar simples -->
<div class="container" fxFlex fxLayout="container">
  <div fxLayout="row wrap">
    <div fxFlex="25" fxFlex.md="33" fxFle.sm="50" fxFlex.xs="100" fxLayout="column" >
  
      <form class="form-search">
        <mat-form-field class="" appearance="fill">
          <mat-label>Search by name</mat-label>
          <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="search" [matAutocomplete]="auto">
          <button *ngIf="" matSuffix mat-icon-button aria-label="Clear" (click)="_filter('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredNames | async" [value]="option">{{option}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

    </div>
  </div>
</div>
